<!DOCTYPE html>
<html>
<head>
    <title>Verify Memory</title>
    <style>
        .center {
            height: 90vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center; 
        }
        .color {
            color: red;
        }
    </style>
</head>
<body>
    <div class="center">
        <form action="/memory" method="post">
            number:<input type="text" name="number">
            <input type="submit" value="Submit">
        </form>
        <h3>Number: {{ .Number }}</h3>
        <h3><span class="color">{{ .Memory_MB }} MB</span></h3>
        <h3><span class="color">{{ .Memory_GB }} GB</span></h3>
    </div>
</body>
</html>